In [1]:
for i in range(1, 6):
    for j in range(i): # inner loop runs from 0 to i, where i is the current iteration of the outer loop
        print("*",end="")
    print("")
for i in range(4, 0, -1): # loop starts from 4 and goes till 0 with a step of -1, thus it prints the reverse pattern.
    for j in range(i):
        print("*",end="")
    print("")

*
**
***
****
*****
****
***
**
*

In [2]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# start from index 1 with 2 steps in between
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

In [3]:
x = [23, 'Python', 23.98]
types = [] # creating an empty list
for i in x:
    types.append(type(i)) # using type function
print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [4]:
def sample_list(l):
  x = [] # creating an empty list
  for a in l:
    if a not in x:
      x.append(a)  # using append function
  return x
print("Unique List:", sample_list([1,2,3,3,3,3,4,5]))

Unique List: [1, 2, 3, 4, 5]

In [5]:
def string(s): # using function
    u = sum(1 for i in s if i.isupper()) # using is upper function and finding total upper letters
    l = sum(1 for i in s if i.islower()) # using is lower function and finding total lower letters
    print("No. of Upper case characters:", u)
    print("No. of lower case characters:", l)
string('The quick Brow Fox')

No. of Upper case characters: 3
No. of lower case characters: 12