In [2]:
#Question1
# input from question
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# sorting the ages in ascending order
ages = sorted(ages)
print("The sorted ages are", ages)

# finding the minimum and maximum ages
print("The minimum age is:", min(ages))
print("The maximum age is:", max(ages))

# adding the minimum and maximum to the list
ages.append(min(ages))
ages.append(max(ages))
print("The minimum and maximum ages are added to the list", ages)
# finding median of the ages
n = len(ages)
median = ages[n//2]
print("The median age of the list is:", median)

# print the average of ages
average = sum(ages) / len(ages)
print("The average of the list:", average)
# range of the ages
print("the range of the list is:", max(ages)-min(ages))

The sorted ages are [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The minimum age is: 19
The maximum age is: 26
The minimum and maximum ages are added to the list [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
The median age of the list is: 24
The average of the list: 22.75
the range of the list is: 7

In [1]:
#Question2
# creating an empty dictionary
dog = {}
print(dog)
# adding to dictionary
dog = {"name": "snoopy", "color": "white", "breed": "Maltipoo", "legs": "4", "age": "2"}
print("The updated dog dictionary:", dog)
# creating a student dictionary
student = {"first_name": "Sahithi", "Last_name": "Thulluru", "gender": "Female", "age": "23", "marital_status": "single", "skills": ["Programming"], "Country": "India", "City": "Hyderabad", "address": "8/123,Dscolony"}
student1 = student.keys()
print("The keys of dictionary student is:", student1)
# Length of student dictionary
length = len(student)
print(length)
# getting the values of a particular key in dictionary
print(student["skills"])
# Modifying dictionary
student["skills"].extend(["Leadership", 'Dance'])
print(student['skills'])
# getting dictionary keys
key_List = list(student.keys())
print(key_List)
# getting values as a list
value_list =list(student.values())
print(value_list)

{}
The updated dog dictionary: {'name': 'snoopy', 'color': 'white', 'breed': 'Maltipoo', 'legs': '4', 'age': '2'}
The keys of dictionary student is: dict_keys(['first_name', 'Last_name', 'gender', 'age', 'marital_status', 'skills', 'Country', 'City', 'address'])
9
['Programming']
['Programming', 'Leadership', 'Dance']
['first_name', 'Last_name', 'gender', 'age', 'marital_status', 'skills', 'Country', 'City', 'address']
['Sahithi', 'Thulluru', 'Female', '23', 'single', ['Programming', 'Leadership', 'Dance'], 'India', 'Hyderabad', '8/123,Dscolony']

In [7]:
#Question3
# creating a tuple of my sisters and brothers
brother_names = ('Vamsi', 'Sandeep')
sister_names = ('Swathi' , 'Ishitha')
print(brother_names)
print(sister_names)

# Joining the both tuples to siblings
siblings = brother_names+sister_names
print(siblings)

# Number of siblings
a = len(siblings)
print("The number of siblings are;", a)

# Modifying tuple and adding my parents names
family_members = siblings +('MPR' , 'SK')
print("Family members are:" , family_members)

('Vamsi', 'Sandeep')
('Swathi', 'Ishitha')
('Vamsi', 'Sandeep', 'Swathi', 'Ishitha')
The number of siblings are; 4
Family members are: ('Vamsi', 'Sandeep', 'Swathi', 'Ishitha', 'MPR', 'SK')

In [16]:
#Question4
# Length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
length = len(it_companies)
print('The length of it_companies is:', length)

# adding twitter to it_companies
it_companies.add('Twitter')
print("The updated list:", it_companies)

# inserting multiple companies
it_companies2 = {'Visteon', 'PWC'}
it_companies.update(it_companies2)
print('After adding multiple companies:', it_companies)

# removing a company
it_companies.remove('PWC')
print('IT companies after removing PWC:', it_companies)

# difference between remove and discard
it_companies.discard('PWC')
print('IT companies after removing PWC:', it_companies)
# In remove() function error will be shown if the item is not fond in set where as discard() will not display any error

# Joining A & B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C = A.union(B)
print('After joining A & B:', C)

# Intersection of two A & B
print('Intersection of A & B', A.intersection(B))

# finding if A subset of B
print("Is A subset of B", A.issubset(B))

# finding if A & B are disjoint sets
print("Is A and B are disjoint sets:", A.isdisjoint(B))

# Joining A with B and B with A
print('Joining A with B', A.union(B))
print('Joining B with A', B.union(A))

# Symmetric difference between A and B
print("The Symmetric difference between A and B:", A.symmetric_difference(B))

# Deleting the sets completely
del A
del B
#print("After deleting the sets:",A,B)

# Ages into Set
age = [22, 19, 24, 25, 26, 24, 25, 24]
D = set(age)
agelist = len(age)
ageset = len(D)
print("The length of age list", agelist, "The length of age set", ageset)
if(agelist==ageset):
    print('length is same')
else:
    print('lenght is not same')

The length of it_companies is: 7
The updated list: {'Amazon', 'IBM', 'Twitter', 'Apple', 'Oracle', 'Facebook', 'Microsoft', 'Google'}
After adding multiple companies: {'Amazon', 'IBM', 'Twitter', 'Apple', 'PWC', 'Visteon', 'Google', 'Oracle', 'Facebook', 'Microsoft'}
IT companies after removing PWC: {'Amazon', 'IBM', 'Twitter', 'Apple', 'Visteon', 'Google', 'Oracle', 'Facebook', 'Microsoft'}
IT companies after removing PWC: {'Amazon', 'IBM', 'Twitter', 'Apple', 'Visteon', 'Google', 'Oracle', 'Facebook', 'Microsoft'}
After joining A & B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A & B {19, 20, 22, 24, 25, 26}
Is A subset of B True
Is A and B are disjoint sets: False
Joining A with B {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A {19, 20, 22, 24, 25, 26, 27, 28}
The Symmetric difference between A and B: {27, 28}
The length of age list 8 The length of age set 5
lenght is not same

In [1]:
#Question5
# Area of a circle
radius = 30
_area_of_circle_ = 3.14*radius*radius
print('The area of circle', _area_of_circle_)

# Circumference of a circle
_circum_of_circle_ = 2*3.14*30
print('The circumference of circle', _circum_of_circle_)

# Area of a circle from user input
radius = float(input("Enter radius: "))
area = 3.14*radius*radius
print('The area is:', area)

The area of circle 2826.0
The circumference of circle 188.4

Enter radius:  4

The area is: 50.24

In [2]:
#Question6
sentense = "I am a teacher and I love to inspire and teach people"
text = sentense.lower()
words = text.split()
words = [word.strip('.,!;()[]') for word in words]
words = [word.replace("'s", '') for word in words]

#finding unique
unique = []
for word in words:
    if word not in unique:
        unique.append(word)

#sort
unique.sort()

#print
print(unique)

['a', 'am', 'and', 'i', 'inspire', 'love', 'people', 'teach', 'teacher', 'to']

In [3]:
#Question7
# Using \t to get the output as required
print("Name\t Age\t Country\t City\t")
print("Asabeneh\t 250\t Finland Helsinki\t")

Name	 Age	 Country	 City
Asabeneh	 250	 Finland Helsinki

In [4]:
#Question8
# Assigning the value of radius and calculation of area
radius = 10
area = 3.14*radius**2

# Used the string format function to display the output as required
print("The area of a circle with radius {} is {} meters square".format(radius, area))

The area of a circle with radius 10 is 314.0 meters square

In [5]:
#Question9
# Taking input from user for number of inputs
N = int(input("Enter the number of student weights you want to enter"))
weight_in_lbs = []

# using for loop for taking input
for i in range(N):
    weights = float(input(f"Enter student {i +1} weight:"))
    weight_in_lbs.append(weights)
    print("The given weights in lbs are:", weight_in_lbs)
# creating an empty list
weight_in_kgs = []
for weights in weight_in_lbs:

   # converting lbs into kgs
    weight_in_kg = weights*0.453592
    weight_in_kgs.append(weight_in_kg)

    print(weight_in_kgs)

Enter the number of student weights you want to enter 2
Enter student 1 weight: 45

The given weights in lbs are: [45.0]

Enter student 2 weight: 67

The given weights in lbs are: [45.0, 67.0]
[20.41164]
[20.41164, 30.390664]